@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fraunces", serif;
}

header {
  height: 100vh;
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
}

header nav .logo-svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav ul a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  margin: 1rem;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

header nav ul a:hover {
  background-color: #8cf2de;
  border-radius: 30px;
}

header nav ul .active {
  color: #23303e;
  background-color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 1rem 2rem;
}

header nav .menu-btn {
  display: none;
  width: 50px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu-btn__burger {
  width: 70%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header nav .menu-btn__burger::before {
  content: '';
  position: absolute;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header nav .menu-btn__burger::after {
  content: '';
  position: absolute;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header nav .menu-btn.open .menu-btn__burger {
  background-color: transparent;
}

header nav .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header nav .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 2rem;
}

header .down-arrow {
  display: block;
  margin: 5rem auto;
}

main .section-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (500px)[3];
      grid-template-rows: repeat(3, 500px);
}

main .section-1 .div1,
main .section-1 .div4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

main .section-1 .div1 h2,
main .section-1 .div4 h2 {
  width: 60%;
  font-size: 40px;
  color: #23303e;
}

main .section-1 .div1 p,
main .section-1 .div4 p {
  width: 60%;
  color: #818498;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
}

main .section-1 .div1 .learn-more {
  font-weight: 700;
  font-size: 20px;
  color: #23303e;
  font-family: "Fraunces", serif;
  cursor: pointer;
  position: relative;
}

main .section-1 .div1 .learn-more::before {
  content: '';
  position: absolute;
  left: -5px;
  bottom: 3px;
  width: 110px;
  height: 8px;
  border-radius: 8px;
  background-color: #fff4b3;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .section-1 .div1 .learn-more:hover::before {
  background-color: #ffd900;
}

main .section-1 .div4 .learn-more {
  font-weight: 700;
  font-size: 20px;
  color: #23303e;
  font-family: "Fraunces", serif;
  cursor: pointer;
  position: relative;
}

main .section-1 .div4 .learn-more::before {
  content: '';
  position: absolute;
  left: -5px;
  bottom: 3px;
  width: 110px;
  height: 8px;
  border-radius: 8px;
  background-color: #ffcccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

main .section-1 .div4 .learn-more:hover::before {
  background-color: #ff6666;
}

main .section-1 .div2 {
  background-image: url(../images/desktop/image-transform.jpg);
  background-size: cover;
  background-position: center;
}

main .section-1 .div3 {
  background-image: url(../images/desktop/image-stand-out.jpg);
  background-size: cover;
  background-position: center;
}

main .section-1 .div5 {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position: top;
}

main .section-1 .div6 {
  background-image: url(../images/desktop/image-photography.jpg);
  background-size: cover;
  background-position: top;
}

main .section-1 .div5,
main .section-1 .div6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

main .section-1 .div5 h2,
main .section-1 .div5 p,
main .section-1 .div6 h2,
main .section-1 .div6 p {
  width: 50%;
}

main .section-1 .div5 h2 {
  color: #25564b;
  font-weight: 900;
}

main .section-1 .div5 p {
  color: #25564b;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
}

main .section-1 .div6 h2 {
  color: #19536b;
  font-weight: 900;
}

main .section-1 .div6 p {
  color: #19536b;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
}

main .section-2 {
  padding: 8rem 0;
}

main .section-2 h3 {
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 5rem;
}

main .section-2 .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

main .section-2 .items div {
  width: 25%;
  text-align: center;
}

main .section-2 .items div img {
  border-radius: 50%;
  width: 20%;
  margin-bottom: 2.5rem;
}

main .section-2 .items div p {
  line-height: 1.5;
  margin-bottom: 3rem;
  font-family: "Barlow", sans-serif;
  color: #5a636c;
}

main .section-2 .items div h4 {
  font-weight: 900;
  color: #23303e;
  margin-bottom: 1rem;
}

main .section-2 .items div h5 {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
}

main .section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .section-3 img {
  width: 25%;
}

footer {
  padding: 3rem 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #96cfc3;
}

footer .logo-svg {
  margin-bottom: 3rem;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  margin-bottom: 4rem;
}

footer ul a {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  text-align: center;
  color: #25564b;
}

footer ul a:hover {
  color: #fff;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

footer .socials a:hover :first-child {
  fill: #fff;
}

.attribution {
  padding: 1rem;
  font-size: 0.9rem;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media screen and (max-width: 600px) {
  header nav ul {
    display: none;
  }
  header nav .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header nav ul.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 100px;
    right: 10%;
    width: 80%;
    background-color: lightblue;
  }
  header nav ul.open::before {
    content: '';
    position: absolute;
    top: -20px;
    right: 0;
    border-style: solid;
    border-width: 20px;
    border-color: transparent lightblue transparent transparent;
  }
  header nav ul.open li {
    width: 40%;
  }
  header nav ul.open li a {
    text-align: center;
    font-size: 1em;
  }
  header nav ul .active {
    background-color: #ffdd1a;
  }
  main .section-1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (500px)[6];
        grid-template-rows: repeat(6, 500px);
  }
  main .section-2 .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
  }
  main .section-2 .items div {
    width: 80%;
  }
  main .section-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .section-3 img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */